name: "build-test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master
      - "dist/*"

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: "12"

    steps:
      - uses: actions/checkout@v1

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: actions/cache@v2
        id: restore-cache
        with:
          path: ./node_modules
          key: yarn-${{ runner.os }}-${{ env.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}

      - run: yarn
        if: steps.restore-cache.outputs.cache-hit != 'true'

      - run: yarn lint
      - run: yarn test
      - run: bash <(curl -s https://codecov.io/bash)

      - run: yarn build

      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: ./dist/index.js

  test-run: # make sure the action works on a clean machine without building
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        poetry_version: [ 1.1.5, 1.1.6, 1.2.0a1, "" ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - uses: actions/setup-python@v1
        with:
          python-version: "3.7"

      - uses: ./
        with:
          version: ${{ matrix.poetry_version }}

      - run: poetry --version
